/* Skyline skin */

@theme = "skyline";

// Grays
@black:             #333333; // #000; skyline brand black
@grayDark:          lighten(@black, 25%);
@gray:              lighten(@black, 50%);
@grayLight:         #595959; // lighten(@black, 75%); skyline brand grey
@grayLighter:       lighten(@black, 90%);
@white:             #fff;

// Accents
@blue:              #179bdd; //#01a8e3; skyline brand blue
@blueDark:          #158dc6; // darken(@blue, 25%); skyline brand dark blue
@blueLight:         #25a7e8; //#00c1f3; // skyline brand light blue
@blueLightest:		#ade7ff;
@green:             #a7b701;
@red:               #e42019; //#9d261d;
@yellow:            #f2e713; //#ffc40d;
@orange:            #db7500; // #f89406;
@pink:              #c3325f;
@purple:            #7a43b6;

@light-grey:       lighten(@black, 90%);
@dark-red:          #8A1F11;


// Palette
@bg:                #eaeaea;
@accent-1:          @blueDark;
@accent-2:          @red;
@accent-3:          @yellow;
@text:              @grayDark;
@quietColor:        lighten(@text, 50%);
@loudColor:         @black;
@titleText:         @black;
@textQuiet:         @grayLight;

@boxBackground:    @grayLight;

//timeline
@valueGreen : #008000;

// Links
@linkColor:         #0069d6;
@linkColorHover:    darken(@linkColor, 15);
@linkHoverColor:    darken(@linkColor, 15);

// Border blue

@borderBlue: #1489C4;

// Font Stacks:
//
// http://www.sitepoint.com/eight-definitive-font-stacks
//
// The Times New Roman-based serif stack:
//
// Cambria, "Hoefler Text", Utopia, "Liberation Serif", 
// "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
//
// A modern Georgia-based serif stack:
//
// Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, 
// "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
//
// A more traditional Garamond-based serif stack:
//
// "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", 
// Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L",
// Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", 
// "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
//
// The Helvetica/Arial-based sans serif stack:
//
// Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", 
// "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", 
// "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
// 
// The Verdana-based sans serif stack:
//
// Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", 
// "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
//
// The Trebuchet-based sans serif stack:
//
// "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", 
// "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
// 
// The heavier “Impact” sans serif stack:
//
// Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat",
// "Bitstream Vera Sans Bold", "Arial Black", sans-serif
//
// The monospace stack:
//
// Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
// "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
// "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
//

@sansSerifFonts:    "Lucida Sans Unicode", "Lucida Grande", sans-serif;

@serifFonts:        Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

@monospaceFonts:    Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
                    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
                    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

@menuPaper: @gray;
@menuInk: @white;
@menuHoverPaper: @gray;
@menuHoverInk: @white;
@menuBorderColour: @white;


